@import './rem-calc.scss';



.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding: rem-calc(20) 0;
	border-radius: rem-calc(10);

	text-decoration: none;

	&__primary {
		color: var(--white);
		background: var(--primary-color);
	}

	&__secondary {
		color: var(--white);
		background: var(--secondary-color);
	}
}

.btn:hover{
	box-shadow: inset 0 0 0 25px #53a7ea;
	background: #ffb6c1;
	transition: 0.7s;
}