@import '../../../config-scss/rem-calc.scss';

:host {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem-calc(40) 0;

        .github{
            position:absolute;
            justify-content:flex-end;
            margin-left: 1024px;
        }
    }
}